header {
    display: flex;
    align-items: center;
    justify-content: center;
}
section {
    padding: 100px;
}
h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 200px;
}
.catalog-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}
@media (max-width: 700px) {
    .catalog-content {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 500px) {
    .catalog-content {
        grid-template-columns: 1fr;
    }
}
.catalog-product {
    border-radius: 4px;
    border: 1px solid rgb(197, 197, 197);
    height: 300px;
    width: 190px;
    margin-bottom: 5px;
}
.catalog-product-image {
    border-radius: 4px;
    height: 100%;
    width: 100%;
}
.content a {
    height: 30px;
    width: 190px;
}